.container {
	--max-width: 620px;
	--padding: 20px;
	--gap: 10px;
	max-width: calc(var(--max-width) + var(--padding) * 2);
	padding: 0 var(--padding);
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: var(--gap);

	@media (min-width: 540px) {
		--max-width: 880px;
	}

	@media (min-width: 920px) {
		--max-width: 1180px;
	}

}