.form {
	display: flex;
	justify-content: space-between;
	font-family: Roboto;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
	letter-spacing: 0.15px;
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.42);
	width: 426px;
}


.add {
	color: blue;
}

.add:hover {
	color: rgb(24, 93, 117);
}

.add:active {
	transform: translate(2px, 2px);
}

.input {
	width: 100%;
	border: none;
}

@media(max-width: 560px) {
	.form {
		width: 280px;
	}

}